.my-div {
  margin-bottom: $spacer * 2;
}

.nav-container {
  background-color: $nav-bar-bg;
}

a:hover {
  text-decoration: none;
}

.text-med {
  font-size: $font-size-med;
}

.pink-text {
  color: $primary;

  &:hover {
    color: darken($primary, 25%);
  }
}

li {
  list-style: none;
}

// BUTTON

.btn-outline-primary {
  color: $light-gray;
  text-transform: uppercase;
}

// CONTAINER SECTION

.bg-light-gray {
  background-color: $light-gray;
}

.container-padding {
  padding: 120px 15px;

  ul {
    padding: 0;
  }

  span {
    font-size: $font-size-med;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
  }
}
