.my-div {
  margin-bottom: $spacer * 2;
}

.nav-container {
  background-color: $nav-bar-bg;
}

ul {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.text-med {
  font-size: $font-size-med;
}
span {
  font-size: 18px;
}

.pink-text {
  color: $primary;

  &:hover {
    color: darken($primary, 25%);
  }
}

// BUTTON

.btn-outline-primary {
  color: $light-gray;
  text-transform: uppercase;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

// CONTAINER SECTION
.bg-light-gray {
  background-color: $light-gray;
}

.container-padding {
  padding: 120px 15px;
}
