// CAROUSEL

.carousel {
  max-height: 689px;

  .banner-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
    width: $banner-width;
    color: $white;

    @media (min-width: 100px) {
      h1 {
        font-size: $font-size-base;
      }
    }
    @include media-breakpoint-up(sm) {
      h1 {
        font-size: $font-size-base;
      }
    }
    @include media-breakpoint-up(md) {
      h1 {
        font-size: $carousel-min-768px;
      }
    }
    @include media-breakpoint-up(lg) {
      h1 {
        font-size: $carousel-min-992px;
      }
    }
    @include media-breakpoint-up(xl) {
      h1 {
        font-size: $carousel-min-1200px;
      }
    }
  }

  .map {
    filter: brightness(30%);
  }
}
