// FOOTER SECTION

.footer-container {
  background-color: $nav-foot-bg;
  color: #ffffff; // ** this could be made into a variable
  padding-bottom: 90px;
}

.container-footer-padding {
  padding: 100px 15px 30px 15px; // ** you can shot hand this i.e. 100px 15px 30px is the same as writing 100px 15px 30px 15px
}

.container-border {
  border-top: $border-width solid $secondary;
  border-bottom: $border-width solid $secondary;

  li {
    text-transform: $uppercase; // ** uppercase doesnt need to be a var as its never going to be anything else, writing text-transform: uppercase; is fine
  }

  a {
    font-weight: $font-weight-normal;
    color: $secondary;
    text-transform: $uppercase; // ** uppercase doesnt need to be a var as its never going to be anything else, writing text-transform: uppercase; is fine
  }

  .hide-text {
    color: $nav-foot-bg;
  }

  .address-indent {
    margin: 0 0 0 15px;
  }

  .address-text {
    padding-left: 16px;
    color: $secondary;
    font-size: $font-size-base; // ** not required as the font-szie-base is inherieted from body by default.
  }

  .grey-color {
    color: $secondary; // ** this could be moved into _base.scss and given a more bootstrap friendly name checkout -https://getbootstrap.com/docs/4.5/utilities/colors/
  }

  .foot-cont-1 {
    padding: 20px 0;
  }
}
