// FOOTER SECTION

.footer-container {
  background-color: $nav-foot-bg;
  color: #ffffff;
  padding-bottom: 90px;
}

.container-footer-padding {
  padding: 100px 15px 30px 15px;
}

.container-border {
  border-top: $border-width solid $secondary;
  border-bottom: $border-width solid $secondary;

  li {
    text-transform: $uppercase;
  }

  a {
    font-weight: $font-weight-normal;
    color: $secondary;
    text-transform: $uppercase;
  }

  .hide-text {
    color: $nav-foot-bg;
  }

  .address-indent {
    margin: 0 0 0 15px;
  }

  .address-text {
    padding-left: 16px;
    color: $secondary;
    font-size: $font-size-base;
  }

  .grey-color {
    color: $secondary;
  }

  .foot-cont-1 {
    padding: 20px 0;
  }
}
