// FOOTER SECTION

.footer-container {
  background-color: $nav-foot-bg;
  color: $white;
  padding: $spacer * 6 0;

  .footer-logo {
    margin-bottom: $spacer * 2;
  }

  .container-border {
    border-top: $border-width solid $secondary;
    border-bottom: $border-width solid $secondary;

    .footer-container-inner {
      margin: 20px 0 5px;
    }

    ul {
      padding: 0px;

      li {
        text-transform: uppercase;

        a {
          font-weight: $font-weight-normal;
          color: $secondary;
          text-transform: uppercase;

          .address-text {
            color: $secondary;
            padding-left: 16px;
          }
        }
      }

      .hide-text {
        color: $nav-foot-bg;
      }
    }
  }
}
