.nav-container {
  // this is the full header section
  .nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 1;
    transition: ease 1s;
    position: relative;

    .nav-logo {
      position: absolute;
      left: 15px;
      padding: 0 15px;
    }

    .login {
      position: absolute;
      right: 15px;
      padding: 0 15px;
    }
  }

  #stickyNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
  }

  #stickyNav.sticky {
    background-color: $nav-foot-bg;
    transition: 1s;

    #dropDownMenu {
      background-color: $nav-foot-bg;
      transition: 1s;
    }
  }

  // this is the navigation menu section
  .navbar-container {
    justify-content: center;
    padding: 0 0 0 100px;
    width: 500px;

    ul {
      padding: 0;

      li {
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        list-style-type: none;
        text-decoration: none;
        padding: 0 15px;

        ul {
          position: absolute;
          top: 50px;
          width: 60px;

          li {
            padding: 0;
          }
        }
      }
    }

    li {
      display: inline-flex;
    }

    // nav dropdown menu *** how best to nest this section? ***
    li:hover > ul,
    li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    li {
      list-style-type: none;
      a {
        color: $link-color;
      }
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
      ul {
        visibility: hidden;
        opacity: 0;
        min-width: 3rem;
        position: absolute;
        transition: all 0.5s ease;
        display: none;

        li {
          clear: both;
          width: 100%;
        }
      }
    }

    // nav bar pink underline *** how best to nest this section? ***
    a {
      position: relative;
      padding: 4px 0;
    }

    ul li a::after {
      content: "";
      height: 3px;
      background-color: $primary;
      width: 0;
      transition: width 0.2s, background-color 0.5s, visibility 0.2s;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
    }

    ul li.active-link a::after,
    ul li:hover a:hover::after {
      width: 100%;
      visibility: visible;
    }
  }

  // this is the login button section
}

// .nav-news {
//   background-color: $nav-bar-bg;
// }
