.nav-section {
  height: 100px;
  align-items: center;
  transition: ease 1s;
  display: flex;
  position: relative;
  justify-content: center;
  z-index: 1;

  .nav-logo {
    position: absolute;
    left: 15px;
    padding: 0 15px;
  }
}

.hamberger-nav {
  background-color: red;
}

.navbar-container {
  justify-content: center;
  padding: 0 0 0 100px;
  width: 500px;

  li {
    padding: 0 15px;
    float: left;
  }

  ul,
  li {
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    text-transform: $uppercase;
    list-style-type: $no-underline;
    text-decoration: $no-underline;
  }
}

// .navbar-container,
.login {
  position: absolute;
  right: 15px;
  padding: 0 15px;
}

#stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}

#stickyNav.sticky {
  background-color: $nav-foot-bg;
  transition: 1s;

  #dropDownMenu {
    background-color: $nav-foot-bg;
    transition: 1s;
  }
}

// nav dropdown menu

.dropdowns {
  position: absolute;

  li {
    padding: 5px 0;
  }
}

.sub-nav {
  li {
    color: $link-color;
    display: block;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
}

li:hover > ul,
li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

li {
  list-style-type: none;
  a {
    color: $link-color;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  ul {
    visibility: hidden;
    opacity: 0;
    min-width: 3rem;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
  }
  ul li {
    clear: both;
    width: 100%;
  }
}

/* nav bar pink underline */

.navbar-container {
  a {
    position: relative;
    padding: 4px 0;
  }

  ul li a::after {
    content: "";
    height: 3px;
    background-color: $primary;
    width: 0;
    transition: width 0.2s, background-color 0.5s, visibility 0.2s;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
  }

  ul li.active-link a::after,
  ul li:hover a:hover::after {
    width: 100%;
    visibility: visible;
  }
}
